@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/1920x1080_q4_2023_5625.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.item_login {
    padding: 10px;
    margin: 10px;
    width: 70%;
    border: 1px solid #afafaf;
}

.left {
    background-color: #ffffff;
    opacity: 0.8;
    width: 20%;
    margin-left: 20px;
    margin-top: 50px;
    border-radius: 10px 10px;
    padding-bottom: 250px;
}


.login {
    background-color: #04AA6D;
    color: white;
    padding: 14px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
}

.login:hover {
    background-color: #05e693;
}


.registry {
    text-align: center;
    text-decoration:none;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: #04AA6D;
    padding-top: 200px;
}
.item_login,
.login {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.right {
    float: right; 
}

.head_market {
    font-size: 100px;
    color: #04AA6D;
}

.icon {
    width: 30%;
    float: right;
}

.head_market,
.icon {
    margin-right: 40px;
}

.clear {
    clear: both;
}

.range-slider {
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
  }

.range-selected {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 5px;
    background-color: #1b53c0;
}

.search_body {
    background: #04AA6D;
}
.name_market {
    color: #f7d3a5;
    font-size: 100px;
}

.panel {
    background-color: #f7d3a5;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header {
    padding: 30px;
    text-align: center;
    color: white;
}

.main_car {
    display: flex;
}

.main_car_head {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.item {
    border: thick double white;
    width: 50%;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.img_car {
    width: 400px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 200px;
}

.social_media {
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.social_media_item {
    color: white;
    font-size: 30px;
    border: 5px solid;
    width: 100%;
    display: float;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social_media_item:hover {
    color: aqua;
}

img {
    width: 100%;
    float: inline-start;
}

.clear_img {
    clear: both;
}

.status {
    display: flex;
    padding-bottom: 20px;
}

.box_main {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 10px;
}

.box {
    width: 15%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background-color: white;
    opacity: 0.9;
    border: none;
    background-position: right 10px center;
    background-repeat: no-repeat;
}

.box option {
    font-size: 14px;
}

.item_color {

    margin-top: 10px;
}

.info_market {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.range-price, .item_color {
    display: flex;
}

.search_panel_text {
    font-size: 25px;
    margin-top: 10px;
}

.line_indentation {
    margin-right: 10px;
    margin-left: 20px;
}

.map {
    height: 450px;
    width: 80%;
}

.info_market_contact {
    margin-left: 10px;
    color: white;
    font-size: 20px
}

.text_bold {
    font-weight: bold;
    font-size: 25px;
}

.price_car_text {
    font-size: 30px;
    font-weight: bold;
    float: right;
    margin-right: 10px;
}

.car_info_text {
    font-size: 20px;
    padding-left: 10px;
}