* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #04AA6D;
}
.name_market {
    color: #f7d3a5;
    font-size: 100px;
}
form {
    background-color: #f7d3a5;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header {
    padding: 30px;
    text-align: center;
    color: white;
  }

.main_car {
    display: flex;
}

.main_car_head {
    text-align: center;
}

.item {
    border: thick double white;
    width: 50%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.img_car {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.social_media {
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.social_media_item {
    color: white;
    font-size: 30px;
    border: 5px solid;
    width: 100%;
    display: float;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social_media_item:hover {
    color: aqua;
}

img {
    width: 100%;
    float: inline-start;
}

.clear_img {
    clear: both;
}

.broke {
    display: flex;
}

.box_main {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 10px;
}

.box {
    width: 15%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Remove default arrow */
    background-color: white;
    opacity: 0.9;
    border: none;
    background-position: right 10px center;
    background-repeat: no-repeat;
}

.box option {
    font-size: 14px;
}

.item_color {
    display: flex;
    margin-top: 10px;
}

.info_market {
    display: flex;
}

.range-price {
    display: flex;
}

.search_panel_text {
    font-size: 25px;
    margin-top: 10px;
}

.line_indentation {
    margin-right: 10px;
    margin-left: 10px;
}